<table id="phrases" border="1">
  <thead>
    <tr>
      <th>id</th>
      <th>body</th>
    </tr>
  </thead>
  <tbody>
    <% @phrases.each do |phrase| %>
      <tr>
        <td><%= phrase.id %>
        <td class="phrase-body"><%= phrase.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<button type="button" id="get-phrase">Get phrase</button>
